In [1]:
import pandas as pd

In [10]:
df = pd.read_csv("library_transactions.csv")
df.head(20)

,Transaction ID,Date,User ID,Book Title,Genre,Borrowing Duration (Days)
0,1,2024-11-23,1014,Harry Potter,Fantasy,24
1,2,2024-05-20,1031,To Kill a Mockingbird,Classic,5
2,3,2024-02-22,1086,Sherlock Holmes,Mystery,29
3,4,2024-10-06,1011,The Da Vinci Code,Mystery,14
4,5,2024-01-17,1003,The Hobbit,Fantasy,7
5,6,2024-04-29,1064,The Da Vinci Code,Mystery,1
6,7,2024-10-14,1025,Sherlock Holmes,Mystery,21
7,8,2024-12-25,1069,Pride and Prejudice,Romance,8
8,9,2024-08-17,1075,The Catcher in the Rye,Classic,26
9,10,2024-01-04,1097,1984,Dystopian,23
10,11,2024-08-04,1043,The Catcher in the Rye,Classic,5
11,12,2024-04-20,1097,The Great Gatsby,Classic,4
12,13,2024-02-17,1048,The Hobbit,Fantasy,12
13,14,2024-06-25,1077,The Catcher in the Rye,Classic,26
14,15,2024-01-23,1093,Twilight,Romance,18
15,16,2024-03-04,1048,The Hobbit,Fantasy,18
16,17,2024-05-30,1080,The Da Vinci Code,Mystery,29
17,18,2024-07-04,1073,To Kill a Mockingbird,Classic,23
18,19,2024-02-05,1005,Gone Girl,Mystery,8
19,20,2024-05-28,1010,To Kill a Mockingbird,Classic,28

In [16]:
a=pd.to_datetime(df["Date"])
a.dt.month_name()

0      November
1           May
2      February
3       October
4       January
        ...
95      October
96       August
97    September
98     December
99          May
Name: Date, Length: 100, dtype: object